#company-name{
    text-align:center;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:5px;
    color:white;
    font-family: 'Bungee', cursive;    
}
#company-logo{
    
    margin-left:48%;
    width:170px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:55px;
    
}
#banner-back{    
    object-fit:cover;
    width:100%;
    height:70px;
    position:relative;
    top:0;
    left:0;
}
.event-dropdown{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:100px;
  width:10px;
}
#event-dd{
    width:150px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:250px;
    
}
#event-title{
    position:absolute;
    top:340px;
    left:38%;
}
#event-desc{
    position:absolute;
    top:355px;
    left:25%; 
    font-family:Arial, Helvetica, sans-serif; 
}
#name{
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:500px;
    width:180px;
}
#email{
    width:200px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:580px;
}
#fullname-label{
position:absolute;
top: 475px;
left:47.5%;
}
#email-label{
    position:absolute;
    top: 555px;
    left:46%;
}
#req-label{
    position:absolute;
    top: 640px;
    left:44.5%;
}
#requirements{
    
    width:30%;
    height:12%;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:670px;
    z-index:6;
    background-color:white;
}
#date-picker{
    
    width:200px;   
    text-align:right;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:300px;
}
#footer-img{    
    object-fit:cover;
    width:100%;
    height:33px;
    position:absolute;
    margin-left:auto;
    margin-right:auto;
    left:0;
    right:0;
    top:880px;
    z-index: 10;
}
#radio1{
    position:absolute;   
    left:35%;    
    top:810px;
    z-index:7;
}
#radio1-label{
position:absolute;
left:36.5%;
top:805px;
}
#radio2{
    position:absolute;   
    left:35%;    
    top:840px;
    z-index:7;
}
#radio2-label{
    position:absolute;   
    left:36.5%;    
    top:834px;
    z-index:7;
}
#city-img{
    position:absolute;
    top:680px;
    opacity:0.1;
    object-fit:cover;
    width:100%;
}
